<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
    <add key="defaultPushSource" value="nuget.org" />
  </config>
  <bindingRedirects>
    <add key="skip" value="True" />
  </bindingRedirects>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <solution>
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ProjSharp local" value="nuspec/" />
  </packageSources>
</configuration>